{{define "content"}}
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h3>VersionChecks</h1>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Application</th>
                  <th scope="col">Latest Version</th>
                  <th scope="col">Installed</th>
                </tr>
              </thead>
              <tbody>
                {{range $y, $x := .Objects }}
                <tr>
                  <th scope="row">{{$y}}</th>
                  <td><a href="{{ $x.Link }}">{{ $x.Name }}</a></td>
                  <td>{{ $x.LatestVersion }}</td>
                  <td>
                      <span class="{{if ne $x.InstalledVersion $x.LatestVersion }}text-danger{{else}}text-dark{{end}}">
                      {{ $x.InstalledVersion }}
                  </span>
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
    </div>
  </div>
</div>
{{end}}
